@media screen and (max-width: 992px) {
  .head header.header .logo h3 {
    font-size: 40px; } }

@media screen and (max-width: 767px) {
  .head header.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .head header.header nav.nav ul li {
      margin: 1px !important; }
      .head header.header nav.nav ul li a {
        font-size: 12px !important; }
  .head section.section .title h3 {
    font-size: 35px !important;
    text-align: center; }
  .head section.section .title h4 {
    font-size: 30px !important;
    text-align: center; }
  .head section.section .content p {
    font-size: 25px !important;
    text-align: center; }
    .head section.section .content p big {
      font-size: 26px !important; } }

* {
  margin: 0;
  padding: 0; }

.head header.header {
  max-width: 100%;
  max-height: 120px;
  background: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .head header.header .logo {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font: 50px 'Times New Roman';
    color: white; }
  .head header.header nav.nav {
    min-width: 60%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    .head header.header nav.nav ul {
      -ms-flex-item-align: center;
      align-self: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
      .head header.header nav.nav ul li {
        margin: 3px; }
        .head header.header nav.nav ul li a {
          font: 16px 'Times New Roman';
          color: white;
          text-decoration: none; }
          .head header.header nav.nav ul li a.active {
            color: #00aeef; }
        .head header.header nav.nav ul li span {
          color: white; }

.head section.section {
  max-width: 100%;
  min-height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .head section.section .title {
    width: 93%;
    margin: 20px auto; }
    .head section.section .title h3 {
      font: 50px 'Times New Roman';
      letter-spacing: 4px; }
      .head section.section .title h3 span {
        color: #00bff3; }
    .head section.section .title h4 {
      color: #bbbbbb;
      font: 40px 'Times New Roman'; }
    .head section.section .title img {
      margin-top: 30px;
      width: 100%; }
  .head section.section .content {
    width: 93%;
    margin: auto; }
    .head section.section .content p {
      font: 34px 'Times New Roman';
      color: #555555;
      text-align: justify;
      line-height: 1.5;
      letter-spacing: 2px; }
      .head section.section .content p big {
        font: bold 35px 'Times New Roman'; }
    .head section.section .content img {
      margin-top: 20px;
      width: 100%; }

.head aside.aside {
  max-width: 100%;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .head aside.aside .left {
    margin-top: 20px;
    padding-left: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .head aside.aside .left .block1 {
      margin-top: 30px;
      max-width: 100%;
      min-height: 100px; }
    .head aside.aside .left .block1 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      max-height: 35%; }
      .head aside.aside .left .block1 figure {
        background: #cccccc;
        min-width: 20%;
        min-height: 70px; }
      .head aside.aside .left .block1 .text {
        max-width: 73%;
        margin-left: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        .head aside.aside .left .block1 .text p {
          font: 14px Arial;
          letter-spacing: 1px; }
        .head aside.aside .left .block1 .text .link a {
          text-decoration: none; }
    .head aside.aside .left h4 {
      font: 24px 'Times New Roman'; }
  .head aside.aside .left, .head aside.aside .right {
    max-width: 45%; }
  .head aside.aside div.center {
    width: 5%; }
    .head aside.aside div.center img {
      display: block;
      margin: 30px auto; }
  .head aside.aside .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 20px; }
    .head aside.aside .right h4 {
      font: 24px 'Times New Roman'; }
    .head aside.aside .right p {
      font: 18px 'Times New Roman';
      letter-spacing: 2px;
      margin-top: 5px; }
    .head aside.aside .right .site {
      height: 220px;
      max-width: 100%;
      border: 1px solid #cccccc;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .head aside.aside .right .site header {
        max-width: 100%;
        max-height: 50px;
        background-image: -webkit-linear-gradient(#f3f3f3, #fff, #fff);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), color-stop(#fff), to(#fff));
        background-image: -o-linear-gradient(#f3f3f3, #fff, #fff);
        background-image: linear-gradient(#f3f3f3, #fff, #fff);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around; }
        .head aside.aside .right .site header .h {
          max-width: 30%;
          max-height: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          .head aside.aside .right .site header .h h4 {
            -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center; }
        .head aside.aside .right .site header nav.nav {
          max-width: 68%;
          max-height: 100%; }
          .head aside.aside .right .site header nav.nav ul li a {
            color: black; }
      .head aside.aside .right .site section.section {
        max-width: 100%;
        border-top: 4px solid #ae9880;
        background-image: -webkit-linear-gradient(#d0b495, #ad9378, #766a5d);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#d0b495), color-stop(#ad9378), to(#766a5d));
        background-image: -o-linear-gradient(#d0b495, #ad9378, #766a5d);
        background-image: linear-gradient(#d0b495, #ad9378, #766a5d);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        padding: 10px; }
        .head aside.aside .right .site section.section div.chap {
          max-width: 45%;
          max-height: 100px;
          -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
          color: white; }
          .head aside.aside .right .site section.section div.chap h3 {
            font: 20px 'Times New Roman';
            letter-spacing: 2px; }
          .head aside.aside .right .site section.section div.chap p.first {
            font: 14px Arial; }
          .head aside.aside .right .site section.section div.chap p {
            font-size: 8px; }
        .head aside.aside .right .site section.section div.ong {
          min-width: 45%;
          max-height: 100px;
          -ms-flex-item-align: center;
          align-self: center;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          .head aside.aside .right .site section.section div.ong img {
            width: 100%; }
      .head aside.aside .right .site footer.footer {
        max-width: 100%;
        padding: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        background-image: -webkit-linear-gradient(#f3f3f3, #fff, #fff);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), color-stop(#fff), to(#fff));
        background-image: -o-linear-gradient(#f3f3f3, #fff, #fff);
        background-image: linear-gradient(#f3f3f3, #fff, #fff); }
        .head aside.aside .right .site footer.footer a {
          text-decoration: none; }
    .head aside.aside .right p {
      font: 14px 'Times New Roman'; }
